<div class="modal-header">
  <h4 class="modal-title" id="myModalLabel">Edycja treningu dnia <%= training.date.strftime("%d.%m.%Y") %></h4>
  <button type="button" class="close" data-dismiss="modal">x</button>
</div>

<div class="modal-body user-show">

  <%= render(
          partial: "trainings/edit_form",
          locals: {training: training}
      ) %>

</div>