<div id="main-edit-user" class="main-frame">
  <div id="content">
    <h2>Nowy administrator</h2>

    <%= render(
            partial: "users/new_form",
            locals: {user: @user, type: "Admin"}
        ) %>
  </div>
</div>