<div id="main-dieticians" class="main-frame">
  <div id="content">
    <h2>Dietetyk <%= @user.full_name %></h2>

    <%= render(
        partial: "users/contact_data",
        locals: {user: @user}
        ) %>
  </div>
  <div id="next-content">
    <h4>Lista pacjentów</h4>

    <%= render(
            partial: "users/users_table",
            locals: {users: @user.patients, no_roles: true}
        ) %>
  </div>
</div>