<div id="main-abouts" class="main-frame">
  <div id="content">
    <h2>Diethub</h2>

    Korzystanie z porad dietetyków staje się coraz bardziej popularne. Powodem tego jest z jednej strony coraz większe promowanie zdrowego stylu życia, z drugiej rosnące problemy ze stanem zdrowia wielu ludzi. Wbrew stereotypom, nie tylko ludzie z nadwagą zgłaszają się z prośbą o pomoc do dietetyków - z ich porad korzystają również te osoby, które z różnych powodów nie są w stanie utrzymać swojej prawidłowej wagi, która jest mniejsza lub większa niż prawidłowa oraz mają inne problemy zdrowotne, jak np. problemy dermatologiczne.
    <br>
    <br>
    Praca dietetyka to nie tylko ustalenie posiłków na każdy dzień tak, aby pacjent przyjmował odpowiednią liczbę kalorii i składników odżywczych do osiągnięcia ustalonego celu. To również analiza całego trybu życia, ilości ruchu w ciągu dnia, treningów, ilości snu i czasu na odpoczynek.
    <br>
    <br>
    Powstało wiele aplikacji mobilnych, które pozwalają na planowanie i zapisywanie posiłków. Takie aplikacje zliczają kalorie oraz składniki odżywcze (białko, węglowodany i tłuszcze). Często również mają możliwość notowania treningów.
    <br>
    <br>
    Wcześniej brakowało systemu, który pozwala na nadzorowanie przez dietetyków swoich pacjentów. Tradycyjnie porady odbywają się z wybraną częstotliwością - od kilku tygodni do kilku miesięcy. Przez ten czas pacjent sam może śledzić swoje postępy, ale nie jest to w żaden sposób kontrolowane przez jego doktora.
    <br>
    <br>
    Stworzyliśmy aplikację, która pozwala na interakcję dietetyków z ich pacjentami każdego dnia. Takie rozwiązanie pozwala z jednej strony na ustalanie programu żywieniowego przez dietetyków dla pacjentów, z drugiej daje możliwość na zaznaczanie przez pacjentów, jak trzymają się ustalonej diety i jakie mają postępy.
    <br>
    <br>
    Projekt powstał w ramach przedmiotu Systemy Telemedyczne realizowanego na Politechnice Wrocławskiej w 2020 roku.<br>
    Autorzy: Seweryn Panek i Maciej Drzewiński.
  </div>
</div>