<div class="day_part">
  <div class="text-center">
    <div class="callendar-hour-list">
      <% (6..22).each do |hour| %>
          <div class="callendar-hour">

            <div class="day-parts">
              <% founded_day = user.get_day(day) %>
              <% unless founded_day.nil? %>
                <% day_parts = founded_day.day_parts.at_hour(hour) %>
                <% day_parts.each do |day_part| %>
                    <div id="day_part_<%= day_part.id %>" class="day-part">
                      <%= render(
                              partial: "day_parts/day_part",
                              locals: {day_part: day_part}
                          ) %>
                    </div>
                <% end %>
                <%= render(
                        partial: "trainings/list",
                        locals: {date: day, user: user, hour: hour}
                    ) %>
              <% end %>
            </div>

          </div>
      <% end %>
    </div>
  </div>
</div>