<%= form_for template_day, url: create_template_day_path, validate: true, method: :patch, remote: true do |f| %>
    <div class="edit-contact-data-table">
      <div class="contact-data-tr">
        <div class="contact-data-td">Nazwa szablonu:</div>
        <div class="contact-data-td">
          <%= f.text_field :title %>
        </div>
      </div>
      <div class="contact-data-tr">
        <div class="contact-data-td button-link">
            <%= f.hidden_field :patient_id, value: @patient.id %>
            <%= f.submit "Zapisz" %>
        </div>
      </div>
    </div>
<% end %>