<div class="modal-header">
  <h4 class="modal-title" id="myModalLabel">Nowy szablon dnia dla <%= link_to @patient.full_name, patient_path(@patient) %></h4>
  <button type="button" class="close" data-dismiss="modal">x</button>
</div>

<div class="modal-body user-show">

  <%= render(
          partial: "template_days/new_form",
          locals: {template_day: template_day}
      ) %>

</div>