<div id="main-edit-meal" class="main-frame">
  <div id="content">
    <h2>Edycja potrawy: <%= @meal.title %></h2>

    <%= render(
            partial: "meals/edit_form",
            locals: {meal: @meal}
        ) %>
  </div>
</div>