<div id="main-edit-meal" class="main-frame">
  <div id="content">
    <h2>Nowa potrawa</h2>

    <%= render(
            partial: "meals/new_form",
            locals: {meal: @meal}
        ) %>
  </div>
</div>