<div id="main-meals" class="main-frame">
  <div id="content">
    <h2>Potrawa: <%= @meal.title %></h2>

    <div id="meal-main-data">
      <%= render(
              partial: "meals/main_data",
              locals: {meal: @meal}
          ) %>
    </div>
  </div>
  <div id="next-content">
    <h4>Sposób przygotowania</h4>

    <% if @meal.recipe.nil? %>
      <%= link_to "Dodaj nowy przepis", create_recipe_path(@meal), method: :patch %>
    <% else %>
      <%= render(
              partial: "recipes/recipe",
              locals: {recipe: @meal.recipe}
          ) %>
    <% end %>
  </div>
</div>