/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require select2
 *= require select2-bootstrap
 */

@import "bootstrap";
@import 'bootstrap/glyphicons';

body {
  //background-color: black;
  color: white;
}

a {
  color: darkolivegreen;
}

.glyphicon {
  padding-right: 5px;
  color: darkolivegreen;
}

.text-center {
  text-align: center;
}

.menu-box {
  display: flex;
  flex-direction: row;
  .navbar-nav li {
    text-align: left;
  }
  .navbar-nav li:nth-child(2) {
    margin-left: 10px;
  }
}
.menu-head {
  font-size: 50px;
  text-align: center;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  span {
    height: 70px;
  }
}

.logo {
  font-weight: 600;
  padding: 2px;
  text-shadow: 0 0 5px black, 0 0 10px black, 0 0 15px black, 0 0 20px black, 0 0 25px black, 0 0 25px black;
  .logo-hub {
    border-radius: 3px;
    border: 2px solid darkolivegreen;
    padding: 2px;
    margin: 2px;
    background-color: darkolivegreen;
    color: black;
    text-shadow: 0 0 1px black;
  }
}

#top-navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main-frame {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-height: 900px;
  width: 100%;
  padding-top: 15px;
}

#content, #next-content {
  overflow-x: auto;
  scrollbar-color: darkolivegreen rgb(15, 15, 15);
  border: 2px solid darkolivegreen;
  background-color: rgba(0, 0, 0, 0.1);

  padding-top: 35px;
  padding-bottom: 35px;
  border-radius: 5px;
  max-width: 2000px;
  margin: 0 auto 0 auto;
  width: calc(100% - 60px);

  box-shadow: 0 0 3px darkolivegreen;
  text-shadow: 0 0 5px black, 0 0 7px black, 0 0 9px black;
  transition-duration: 4s;

  &:hover {
    width: calc(95% - 60px);
    transition-duration: 4s;
  }
}

#next-content {
  margin-top: 10px;
  text-align: center;
}

div.button-link {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px 30px 10px 30px;
  margin: 10px 10px 0 10px;
  border: 1px solid darkolivegreen;
  width:100%;
}

input[type=email], input[type=password], input[type=text] {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid darkolivegreen;
  color: white;
}
input[type=submit], .select2 {
  background-color: transparent;
  border: 2px solid darkolivegreen;
  border-radius: 3px;
  color: white;
  width: 100%;
  height: 35px;
  text-shadow: none;
}

.select2-selection {
  background-color: transparent !important;
  border: none !important;
}

.select2-container--bootstrap {
  background-color: darken(darkolivegreen, 20%) !important;
  color: white;
}

.select2-search {
  background-color: darken(darkolivegreen, 20%);
  color: black;
}

.select2 li, .select2-results__option {
  background-color: darken(darkolivegreen, 20%) !important;
  color: white !important;
}

.select2-results__option--highlighted {
  background-color: darkolivegreen !important;
}

.select2-selection__rendered {
  color: white !important;
}