/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";

body {
  //background-color: black;
  color: white;
}

a {
  color: darkolivegreen;
}

.logo {
  font-weight: 600;
  padding: 2px;
  text-shadow: 0 0 5px black, 0 0 10px black, 0 0 15px black, 0 0 20px black, 0 0 25px black, 0 0 25px black;
  .logo-hub {
    border-radius: 3px;
    border: 2px solid darkolivegreen;
    padding: 2px;
    margin: 2px;
    background-color: darkolivegreen;
    color: black;
    text-shadow: 0 0 1px black;
  }
}

.main-frame {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-height: 900px;
  width: 100%;
  padding-top: 15px;
}

#content {
  border: 2px solid darkolivegreen;
  background-color: rgba(white, 0.1);

  padding-top: 35px;
  padding-bottom: 35px;
  border-radius: 5px;
  max-width: 2000px;
  margin: 0 30px 0 30px;
  width: calc(100% - 60px);

  box-shadow: 0 0 3px darkolivegreen;
  text-shadow: 0 0 5px black, 0 0 7px black, 0 0 9px black, 0 0 11px black, 0 0 13px black;
}