#main-products {
  background-image: url("peas.jpg");
}

#main-edit-product {
  background-image: url("himbeere.jpg");
}

#main-edit-product #content {
  padding-left: 20%;
  width: 80%;
  background-color: rgba(0, 0, 0, 0.6);
}

#main-products #content {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
}