#main-users {
  background-image: url("pineaple.jpg");
}

#main-edit-user {
  background-image: url("spicery.jpg");
}

#main-edit-user #content {
  padding-left: 20%;
  width: 80%;
  background-color: rgba(0, 0, 0, 0.6);
}

#main-users #content {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
}

#next-content {
  background-color: rgba(0, 0, 0, 0.6) !important;
}

#main-login {
  background-image: url("apple_1.jpg");
  text-align: center;

  .fields {
    display: flex;
    flex-direction: row;
    justify-content: center;
    .field {
      padding: 10px;
    }
    margin-top: 20px;
    margin-bottom: 20px;
  }

  input[type=email], input[type=password] {
    background-color: transparent;
    min-width: 200px;
    border: none;
    border-bottom: 1px solid darkolivegreen;
    color: white;
  }
  input[type=submit] {
    background-color: rgb(15, 15, 15);
    border: 2px solid darkolivegreen;
    border-radius: 3px;
    color: white;
    width: 20%;
    height: 35px;
  }

  @media (max-width: 768px) {
    .fields {
      flex-direction: column;
    }
    input[type=submit] {
      width: 90%;
    }
  }
}

.contact-data-table, .edit-contact-data-table {
  display: inline-flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.6);
  margin-top: 50px;
  box-shadow: 0 0 15px black;
  .contact-data-tr {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .contact-data-td {
    &:not(.button-link) {
      width: 230px;
    }
    @media (max-width: 562px) {
      &:not(.button-link) {
        width: 150px;
      }
    }
    padding: 10px 30px 10px 30px;
    margin: 10px 10px 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &:first-child {
      border-top: 1px solid darkolivegreen;
      border-left: 1px solid darkolivegreen;
    }
    &:last-child {
      border-bottom: 1px solid darkolivegreen;
      border-right: 1px solid darkolivegreen;
    }
    &:only-child {
      border: none;
    }
  }
}

.edit-contact-data-table {
  .contact-data-td:last-child {
    border: none;
  }
}

#main-users #content, #main-products #content, #main-edit-meal-products #content {
  .contact-data-tr:nth-child(2n) {
    .contact-data-td:not(:first-child):not(:last-child):nth-child(2n) {
      border-bottom: 1px solid darkolivegreen;
    }
  }
  .contact-data-tr:nth-child(2n+1) {
    .contact-data-td:not(:first-child):not(:last-child):nth-child(2n+1) {
      border-bottom: 1px solid darkolivegreen;
    }
  }
  .contact-data-tr:only-child {
    .contact-data-td {
      border-top: 1px solid darkolivegreen;
      border-bottom: 1px solid darkolivegreen;
    }
  }
  .contact-data-td {
    flex: 1 1 auto;
  }
}

.index-new-menu {
  @extend .contact-data-table;
  margin-top: 5px;
  //margin-bottom: -25px;
  padding: 5px;
}

#next-content h4 {
  //@extend .contact-data-table;
}

.index-new-tr {
  @extend .contact-data-tr;
  margin: 5px;
  padding: 5px;
}

.index-new-td {
  @extend .contact-data-td;
  margin: 5px;
  padding: 5px;
  .button-link {
    margin: 5px;
    padding: 5px;
  }
}

select {
  background-color: rgb(15, 15, 15);
  border: 2px solid darkolivegreen;
  border-radius: 3px;
  color: white;
  height: 35px;
}