<% meal ||= meal %>
<% products.each do |product| %>
    <div id="product-<%= product.id %>" class="contact-data-tr">
      <%= render(
              partial: "products/product_tr",
              locals: {product: product, meal: meal}
          ) %>
    </div>
<% end %>