<div id="main-edit-product" class="main-frame">
  <div id="content">
    <h2>Nowy produkt</h2>

    <%= render(
            partial: "products/new_form",
            locals: {product: @product}
        ) %>
  </div>
</div>