<% if user_signed_in? %>
  <li class='nav-item'><%= link_to destroy_user_session_path, :method=>'delete', class: 'nav-link' do %><span class="glyphicon glyphicon-off" aria-hidden="true"></span>Wylogowanie<% end %></li>
<% else %>
  <li class='nav-item'><%= link_to new_user_session_path, class: 'nav-link' do %><span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span>Logowanie<% end %></li>
<% end %>
