<%# navigation styled for Bootstrap 4.0 %>
<div class="container">
  <nav class="navbar bg-inverse">
    <ul class="nav navbar-nav clearfix">
      <li class="nav-item">
        <button class="navbar-toggler hidden-sm-up nav-link" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2" aria-controls="exCollapsingNavbar2" aria-expanded="false" aria-label="Toggle navigation">
          &#9776; <span class="top-nav-menu">Menu</span>
        </button>
      </li>
    </ul>
    <div style="width: 75%">
      <div id="menu-container" style="text-align: right">
        <%= link_to root_path, class: 'navbar-brand' do %>
            <span class="glyphicon glyphicon-home" aria-hidden="true"></span>Strona główna
        <% end %>
        <div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar2">
          <div id="top-navbar">
            <% if user_signed_in? %>
              <%= render 'layouts/navigation_links' %>
            <% end %>
            <%= render 'layouts/nav_links_for_auth' %>
          </div>
        </div>
      </div>
    </div>
  </nav>
</div>
